<html>
<head>
    <title>
        <%= @name.capitalize + " is awesome! <3 <3 <3" %>
    </title>
</head>
<body>
<p>
    <%= "#{@name} is awesome. " * 2500 %>
</p>
<p> You know it. </p>
</body>
</html>
