<!DOCTYPE html>
<html>
<head>
  <title>
    <%= @name.capitalize + " is awesome! <3 <3 <3" %>
  </title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
  <p id="top">
    <%= "#{@name} is awesome. " * 2500 %>
  </p>
  <p id="bottom"> You know it. </p>

  <%# Next: modify scroll hook so it adds more text depending on how far %>
  <%# from the center you are using relativePosition()  %>

  <script>
    String.prototype.repeat = function( num ) {
        return new Array( num + 1 ).join( this );
    };

    var addToTop = function() {
    $('#top').prepend( text.repeat(distanceFromMiddle()) );
    };

    var addToBottom = function() {
    $('#top').append( text.repeat(distanceFromMiddle()) );
    };

    var text = (function(){
      var text = $('#top').text().trim();
      var length = text.indexOf('.') + 1;
      return text.slice(0, length) + " ";
    })();

    var distanceFromMiddle = function(){
      return Math.abs(relativePosition() - 50);
    };

    function getDocHeight() {
        var D = document;
        return Math.max(
            Math.max(D.body.scrollHeight, D.documentElement.scrollHeight),
            Math.max(D.body.offsetHeight, D.documentElement.offsetHeight),
            Math.max(D.body.clientHeight, D.documentElement.clientHeight)
        );
    }

    var relativePosition = function() {
      var height = getDocHeight();
      var position = $(window).scrollTop() + $(window).height();
      return Math.floor(position/height * 100 );
    };


    $(window).scroll(function() {
      if(relativePosition() == 100) {
        $(window).unbind('scroll');
        $(window).scroll(function() {
          addToTop(text);
          addToBottom(text);
        });
      }
    });
  </script>
</body>
</html>
